.fbls-sale-flag.icon-only.disabled {
  opacity: .42;
  filter: grayscale(.65);
  cursor: not-allowed;
}

.fbls-sale-flag.icon-only.disabled input,
.fbls-sale-flag.icon-only.disabled i {
  cursor: not-allowed;
}
