<div class="fbls-shell">
  {{> "modules/fbl-skyhold/templates/parts/skyhold-header.hbs"}}
  {{> "modules/fbl-skyhold/templates/parts/skyhold-tabs.hbs"}}

  <main class="fbls-content">
    {{> "modules/fbl-skyhold/templates/parts/skyhold-empty.hbs"}}
    {{> "modules/fbl-skyhold/templates/parts/skyhold-tab-overview.hbs"}}
    {{> "modules/fbl-skyhold/templates/parts/skyhold-tab-people.hbs"}}
    {{> "modules/fbl-skyhold/templates/parts/skyhold-tab-buildings.hbs"}}
    {{> "modules/fbl-skyhold/templates/parts/skyhold-tab-defense.hbs"}}
    {{> "modules/fbl-skyhold/templates/parts/skyhold-tab-special.hbs"}}
    {{> "modules/fbl-skyhold/templates/parts/skyhold-tab-storage.hbs"}}
    {{> "modules/fbl-skyhold/templates/parts/skyhold-tab-gm.hbs"}}
  </main>

  {{> "modules/fbl-skyhold/templates/parts/skyhold-footer.hbs"}}
</div>
